streamlit
streamlit-option-menu
streamlit-extras
streamlit-aggrid
streamlit-shadcn-ui
pandas
numpy
matplotlib
seaborn
scikit-learn
plotly
Pillow
statsmodels
requests

xgboost
graphviz
mlflow
dagshub
pycaret
shap
streamlit-shap
