streamlit
streamlit-option-menu
streamlit-extras
streamlit-aggrid
streamlit-shadcn-ui
pandas>=2.2.2
numpy==1.24.4
matplotlib
seaborn
scikit-learn
plotly
Pillow
requests

xgboost
graphviz
mlflow
dagshub
pycaret
torch
shap
streamlit-shap
