streamlit
streamlit-option-menu
streamlit-extras
streamlit-aggrid
streamlit-shadcn-ui
pandas
numpy==2.1.0
matplotlib
seaborn
scikit-learn
plotly
Pillow
statsmodels
requests
ydata-profiling
streamlit-pandas-profiling
